<% if @artist.errors.present? %>
	<ul>
		<% @artist.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @artist, html: { multipart: true } do |f| %>

	<div class="form-group">
		<label>Artist Name</label>
		<%= f.text_field :name, placeholder: "Artist Name", class: "form-control" %>
	</div>

	<div class="form-group">
		<label>Artist Style</label>
		<%= f.text_field :style, placeholder: "Music Style", class: "form-control" %>
	</div>

	<div class="form-group">
		<span class="btn btn-default">
			Upload a Picture
			<%= file_field_tag "image[]", type: :file, multiple: false %>
		</span>
	</div>

	<div class="actions">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</div>

<% end %>
