<div class="row">
  <input type="hidden" name="artist-id" id="artist-id" value="<%= @artist.id %>">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<%= image_tag(@artist.image.thumbnail, class: "img-responsive img-artist") %>
		</div>
		<div class="row">
			Name: <%= @artist.name %>
		</div>
		<div class="row">
			Style: <%= @artist.style %>
		</div>

		<h1>Songs</h1>
    <div id="artist-songs">
      <%#= render 'songs' %>
    </div>

		<div class="row spacer">

			<div class="col-md-8 col-md-offset-2">
				<h2>Add a Song</h2>

				<% if @artist.errors.present? %>
				<ul>
					<% @artist.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
				<% end %>

        <form id="add-song-form">
          <div class="form-group">
            <label for="song-title">Song title</label>
            <input type="text" id="song-title" class="form-control" placeholder="Song title" />

          </div>
          <div class="actions">
            <input type="submit" class="btn btn-success" value="Save" />
          </div>
        </form>
        
			</div>
		</div>

	</div>
</div>
<div class="row spacer">
	<div class="col-md-3 col-md-offset-3">
		<%= link_to("Back", root_path, class: "btn btn-primary") %>
	</div>
  <div class="col-md-3 col-md-offset-3">
		<button id="delete-all-songs" class="btn btn-primary">DELETE ALL SONGS</button>
	</div>
</div>
